.titleArea {
    min-height: 30px;
    margin: 10px 0 20px;
    border-bottom: 1px solid #e8e8e8;
}
.titleArea h2{
    display: inline-block;
    padding: 0 0 0 0px;
    color: #2e2e2e;
    font-size: 14px;
    letter-spacing: 1pt;
    font-weight: normal;
}

.x-member-edit h3{
    margin: 50px 0 10px;
    font-size: 16px;
    color: #2e2e2e;
}

.base-table table {
    position: relative;
    margin: 10px 0 0;
    border: 1px solid #d7d5d5;
    border-top: 0;
    color: #fff;
    line-height: 1.5;
}
.base-table table::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 1px;
    background: #d7d5d5;
}
.base-table th:first-child{
    border-left: 0;
}
.base-table tbody th{
    padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    color:#353535;
    text-align: left;
    font-weight: normal;
    background-color: #fbfafa;
}
.base-table td{
    padding: 11px 10px 10px;
    border-top: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
}
.base-table.typeWrite td{
    padding: 8px 10px 7px;
}
input[type=text],input[type=password] {
    height: 18px;
    line-height: 20px;
    padding:2px 4px;
    border: 1px solid #d7d5d5;
    color: #353535;
    font-size: 12px;
}
 
.base-button.justify {
    position: relative;
}
.base-button {
    padding: 10px 0;
    text-align: center;
}
.base-button.justify .gRight{
    position: absolute;
    right: 0;
}
.base-button .gRight{
    float: left;
    text-align: center;
}